@page
@model IndexModel
@{
    ViewData["Title"] = "EPIDEMIC HALT";
}
<head>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	 <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="css/flexslider.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/blogs.css">
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

				
			<h1 id="fh5co-logo"><a asp-page="/Index">
			
		<div class="animate__animated animate__zoomIn  animate__infinite   	infinite animate__slower	2s"><span>E P I D E M I C</span></div>
				<div class="animate__animated animate__zoomInDown  animate__infinite	infinite animate__slower	3s">H A L T</div></a></h1>
				<nav id="fh5co-main-menu" role="navigation">
				<ul>
		<li ><i class="fas fa-home"></i><a asp-page="/Index">Home</a></li>
														
					<li><i class="fas fa-map"></i><a asp-page="/worldmap" >  COVID Map</a></li>
					<li class="fh5co-active"><i class="fas fa-book"></i><a asp-page="/information">Covid 19 Info</a></li>	
					<li ><i class="fas fa-user"></i><a asp-page="/about">About</a></li>
					<li><i class="fas fa-envelope"></i><a asp-page="/contact">Contact</a></li>
			</nav>

		</aside>

		<div id="fh5co-main">
			<div class="fh5co-narrow-content">
				
			<!----	<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft"> ******INFORMATION ABOUT COVID :</h2>
				   <div class="cards">
    			  <h2 class="header">
				THIS SECTION WILL HELP YOU TO LEARN MORE ABOUT COVID-19. IT CAN SAVE LIFE BY THE FACTS GIVEN BELOW.</h2>
				<div class="services">
					<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
				<div class="content content-3">
						<div class="fab fa-youtube">
				</div>
				
				<div class="blog-img"><img src="images/question_mark.gif" class="img-responsive" alt="QUESTION MARK"></div>
				<h2>
				Youtube</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?</p>
				<a href="#">Read More</a>
				</div>
				</div>
				</div>
						</div>
						<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<div class="content content-3">
						<div class="fab fa-youtube">
				</div>
				<div class="blog-img"><img src="images/question_mark.gif" class="img-responsive" alt="QUESTION MARK"></div>
				<h2>
				Youtube</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?</p>
				<a href="#">Read More</a>
				</div>
				</div>
						</div>
						</div>
						<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
						<div class="content content-3">
						<div class="fab fa-youtube">
				</div>
					<div class="blog-img"><img src="images/mf.gif" class="img-responsive" alt="FACTVSMYHTHS"></div>
				<h2>
				Youtube</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing asdadsadasdasdasdasdelit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?</p>
				<a href="#">Read More</a>
						</div>
						</div>
						</div>
						</div>
						
						<div class="blog-entry">
							<div class="content content-3">
						<div class="fab fa-youtube">
				</div>
					<div class="blog-img"><img src="images/stop.gif" class="img-responsive" alt="STOP"></div>
				<h2>
				Youtube</h2>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam aliquid non eligendi, nemo est neque reiciendis error?</p>
				<a href="#">Read More</a>
						</div>
						</div>
						
				</div>
				</div> --->
				
				   <div class="cards">
    			  <h2 class="header">
				THE SYMPTOMS OF COVID 19 IS DIVIDED INTO 3. COMMON, LESS COMMON AND SERIOUS.</h2>
			<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">							
						<div class="blogs-entry">
						
							<a asp-page="/mcommon" class="blogs-img"><img src="images/mcough.gif" class="img-responsive" alt=""></a>
							<div class="desc">
								
								<h3><a asp-page="/mcommon">MOST COMMON <BR> SYMPTOMS</a></h3>
								<span><small>by WHO</small> / <small>INFORMATION </small> <small> <i class="icon-comment"></i></small></span>								
								<p>Most <br>common <br>symptoms	
								</p>
								<a asp-page="/mcommon">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
						</div>
					
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blogs-entry">
							<a asp-page="/lcommon" class="blogs-img"><img src="images/lessache.gif" class="img-responsive" alt=""></a>
							<div class="desc">
								<h3><a asp-page="/lcommon">LESS COMMON<BR> SYMPTOMS </a></h3>
								<span><small>by WHO </small> / <small> INFORMATION </small> <small> <i class="icon-comment"></i></small></span>
								<p>Less<br> common <br> symptoms</p>
								<a asp-page="/lcommon" >READ MORE  <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blogs-entry">
							<a asp-page="/sSymptoms" class="blogs-img"><img src="images/ssick.gif" class="img-responsive" alt=""></a>
							<div class="desc">
								<h3><a asp-page="/sSymptoms">SERIOUS <br> SYMPTOMS</a></h3>
								<span><small>by WHO </small> / <small> INFORMATION</small> <small> <i class="icon-comment"></i></small></span>
								<p> Serious <BR> symptoms <br>(IMPORTANT)</p>
								<a asp-page="/sSymptoms" >READ MORE <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		
		
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="js/main.js"></script>
